# Created by configure
Makefile
config.h
config.log
config.status

# Binary outputs
cloudfuse

# Ignore Eclipse files
.cproject
.project
/.settings/

# Ignore autotools files
/autom4te.cache/
/aclocal.m4

# Ignore backup files
*~